/* 第3問：参考サイトと同じになるようにデザイン調整 */
.App {
  padding: 30px;
}

.button {
  background-color: antiquewhite;
}

.label {
  font-weight: bold;
}

.input {
  height: 25px;
}

.label-input {
  display: flex;
  gap: 10px;
}

.book-register {
  display: flex;
  gap: 10px;
}

.filterable-book-table {
  width: 100%;
}

.books-table{
  margin-top: 10px;
  width: 100%;
  text-align: center;
}